<div style="width:60%; margin:0 auto;">
<h2>Edicion de <%= resource_name.to_s.humanize %></h2>
<div class="field" align='right'>
    <%= link_to "Atras", :back, class:"btn large-padding be-red" %>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    Correo
    <%= f.email_field :email,placeholder: "Ingrese Email", autofocus: true , class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
   Nombre de Usuario
    <%= f.text_field :username ,placeholder: "Ingrese Nombre de Usuario", class:"form-control"%>
  </div>
  <div class="field">
    Tipo de Usuario
    <%= f.collection_select :type_user_id, TypeUser.all, :id,:name, {prompt: 'Seleccione Tipo'}, class:"form-control" %>
  </div>

  <div class="field">
   Nueva Contrasena
    <%= f.password_field :password,placeholder: "Deje en blanco si no desea Cambiar", autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
   Confirmacion de Nueva Contrasena
    <%= f.password_field :password_confirmation,placeholder: "Confirmar Nuevo", autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
   Contrasena Actual
    <%= f.password_field :current_password,placeholder: "Confirmar para guardar", autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field" align='right'>
    <%= f.submit "Actualizar", class:"btn large-padding be-red" %>
  </div>
<% end %>



</div>