<div style="width:60%; margin:0 auto;">
<h1><%= name %></h1>
<%= form_for(@client) do |f| %>
	<% @client.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		Nombre
		<%= f.text_field:name, placeholder: "Ingrese Valor para Nombre", class:"form-control"%>
	</div>
	<div class="field">
		Identifiacion
		<%= f.text_area:identity, placeholder: "Ingrese Identificacion", class:"form-control"%>
	</div>
	<div class="field">
		Telefono
		<%= f.text_area:telephone, placeholder: "Ingrese Numero Telefonico", class:"form-control"%>
	</div>
	<div class="field">
		Direccion
		<%= f.text_area:address, placeholder: "Ingrese Direccion", class:"form-control"%>
	</div>
	<div class="field">
		Estado
		<%= f.collection_select :state_id, State.all, :id,:name, {prompt: 'Seleccione Estado'}, class:"form-control" %>
	</div>
	<div class="field">
		Tipo
		<%= f.collection_select :type_client_id, TypeClient.all, :id,:name, {prompt: 'Seleccione Tipo'}, class:"form-control" %>
	</div>
	<div class="field" align='right'>
		<%= f.submit "Guardar", class:"btn large-padding be-red" %>
	</div>

<%end%>
</div>