<div style="width:80%; margin:0 auto;">
<h1>Clientes</h1>
<table align="center" style="width:80%;font-size:150%;">
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th>Resumen</th>
	</tr>
<% @client.each do |cli|  %>
		<tr>
		<td><b><%= link_to cli.name,cli %></b></td>
		<% 
		  idd=cli.type_client_id
		   type=TypeClient.where("id=#{idd}").select('name')
		   input = cli.created_at
		   input=input.strftime("%d/%m/%y") 
		 %>

		<td><%= cli.type_client.name %></td>
		<td><span class="editar">Creado:<%= input %>
		<% 
		   input = cli.updated_at
		   input=input.strftime("%d/%m/%y") # => 05:21
		 %>
		
		  Actualizado:<%= input %></span></td>
		 </tr>

<%end%>
</table>
<br>	
<div class=' listado izquierdo'>
	<%= link_to 'Crear Nuevo', new_client_path,:class => "crear" %>
</div>
</div>
