<div style="width:60%; margin:0 auto;">
	
	           <h1> <%= @client.name %> </h1>
	  

<div class="listado caja" style="width:100%; text-align: center;" >
	<table align="center" style="width:100%; text-align: center;" >
		<tr>
			<th>Identidad</th>
			<th>Telefono</th>
			<th>Direecion</th>
		</tr>
		<tr>
			<td><%=@client.identity %></td>
			<td><%=@client.telephone %></td>
			<td><%=@client.address %></td>
		</tr>
	</table>
	<%= link_to "Editar",edit_client_path(@client),:class => "editar" %> 
</div>
<div class="row center-xs">
	    <div class="col-xs-6">
	        <div class="box">
	          <h2>Atributos Asignados</h2>
	        </div>
	    </div>
	</div>

<div>
	<table align="center" style="width:100%; font-size:120%; ">
	<% 
		@t=1
		@caa.each do |cat| 
			if @t==1
				%>
				<tr>
				<%
			end
			att = Property.where("id=#{cat.property_id}").select('name')
			att.each do |a|
				%><td> <b><%=  a.name %></b> <br> <%=cat.value %> </td>
				<%
			end
			if @t==5
				%>
				</tr>
				<%
				@t=1
			else
				@t+=1
			end
		end 
		
		%>
	</table>
	

</div>


<div >
	<%= form_for(@ca) do |f| %>
	<% @ca.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field" >
			Nuevo Atributo
			<%= f.collection_select :property_id, Property.all, :id,:name, {prompt: 'Seleccione Atributo'}, class:"form-control" %>
		</div>
		<div class="field">
			Valor
			<%= f.text_field:value, placeholder: "Ingrese Valor", class:"form-control"%>
		</div>
		<%= f.hidden_field:client_id, :value => @client.id %>
				
		<div class="field" align='right'>
			<%= f.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
<div class="row center-xs">
	    <div class="col-xs-6">
	        <div class="box">
	          <h2>Actividades</h2>
	        </div>
	    </div>
	</div>

<div>

<div>
	<%= form_for(@act) do |f| %>
		<div class="field">
		<%= f.text_area:description, placeholder: "descripcion", class:"form-control"%>
		</div>
		<%= f.hidden_field:client_id, :value => @client.id %>
		<div class="field" align='right'	>
			<%= f.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
<div>
	<% @activites.each do |a|  
		input = a.created_at
		input=input.strftime("%d/%m/%y %H:%M") 
		%>
	<div class="listado caja">
		<%=a.description %><br>
		<span class="editar"><%= input %></span>
	</div><br>
<%end%>
</div>


</div>

