<div style="width:80%; margin:0 auto;">
<h1>Hi <%= current_user.username %></h1>
<p>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>

  	<table style="width:100%" class="normal" id="myTable2">
  	<thead>
  		<tr>
  			<th>Nombre</th>
  			<th>Descripcion</th>
  			<th>Inicio</th>
  			<th>Fin</th>
  			<th>Indicador</th>
  			<th>Estado<br> Indicador</th>
  			<th>Estado</th>
  			<th>Meta/Proyecto</th>
  			<th>Area</th>
  			
  		</tr>
  	</thead>
	<tbody>
    <% @labors.each do |l|  %>
    	
		<% a=LaborShift.where("labor_id=#{l.id}").last
			h=0
			if a
				h=a.advance
			end
		 %>
			<tr>
				
			<td>
				<%= link_to l.name,labor_path(l.id) %>
				
			</td>

	    		<td><%=l.description %></td>
	    		<% if l.initiation && l.ending %>
	    			<td><%=	l.initiation.strftime("%d-%m-%Y") %></td>
	    			<td><%= l.ending.strftime("%d-%m-%Y")   %></td>
	    		<% else%>
	    			<td colspan='2'>Tarea Recurrente</td>

	    		<%end%>
	    		<td><%=l.indicator_description%></td>
	    		<td style="text-align: center;";>
	    			<%= h %>
					 / <%= l.indicator  %>
				</td>
				<%	if l.indicator<=h %>
						<td> Terminado </td>
				   <%else 
				   		if l.initiation && l.ending 
				   			if DateTime.now.to_date > l.ending %>
				   				<td> Atrasado </td>
				   		  <%else%>
				   		  		<td> En Ejecucion </td>

				   		  <%end%>

				   		<%else%>
				   			<td> En Ejecucion </td>
				   		 <% end %>

				   <%end%>
				<% if l.project%>
					<td> <%= l.project.name  %> </td>
					<td></td>	
				<%end%>
				<% if l.area_aim%>
					<td> <%= l.area_aim.name  %> </td>
					<% if l.area_aim.area %>
						<td> <%= l.area_aim.area.name %> </td>	
					<%end%>	
				<%end%>
				<td class="nob">
					<button class="abrir" style="background:#FFFFFF;border:none;text-align: left;" value="<%=l.id%>">Agregar Avance</button>
				</td>
			</tr>
		
		
	<% end %>
	</tbody>
</table>


	
</div>


<script type="text/javascript">
function Tarea(t){
	
	document.getElementById("labor_shift_labor_id").value=t;
	x=document.getElementById("labor_shift_labor_id").value;
	
	$("#dialog").dialog("option", "width", 400);
	$("#dialog").dialog("open");
	
}


$(function(){
  $("#myTable1").tablesorter();
  $("#myTable2").tablesorter();
  $("#myTable3").tablesorter();
});
</script>
<br>

 <script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
}).prev(".ui-dialog-titlebar").css("background","#21B8B4");

$(".abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
$("#labor_shift_labor_id").val(this.value);


});
});
</script>

<div id="dialog" title="Agregar Avance">
	
<%= form_for(@shift) do |s| %>
	<% @shift.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		Observacion
		<%= s.text_field:description, placeholder: "Ingrese Observacion", class:"form-control"%>
	</div>
	<div class="field">
		Avance
		<%= s.number_field:advance,min:1, placeholder: "Cantidad", :class => 'text_field', :step => 'any',class:"form-control" %>
	</div>
	<%= s.hidden_field:labor_id, :value =>@labor %>
	
	
	<div class="field" align='right'>
		<%= s.submit "Guardar", class:"btn large-padding" %>
	</div>
<%end%>
</div>