<div style="width:80%; margin:0 auto;">
<h1>Hi <%= current_user.username %></h1>
<p>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>

  	<table style="width:100%"  id="myTable2">
  	<thead>
  		<tr>
  			<th>Nombre</th>
  			<th>Descripcion</th>
  			<th>Inicio</th>
  			<th>Fin</th>
  			<th>Indicador</th>
  			<th>Estado<br> Indicador</th>
  			<th>Estado</th>
  			<th>Meta/Proyecto</th>
  			<th>Area</th>
  			
  		</tr>
  	</thead>
	<tbody>
    <% @labors.each do |l|  %>
    	
		<% a=LaborShift.where("labor_id=#{l.id}").last
			h=0
			if a
				h=a.advance
			end
		 %>
			<tr>
			<td><%= link_to l.name,new_labor_shift_path(:labor_id => l.id,:name => l.name)%></td>
	    		<td><%=l.description %></td>
	    		<% if l.initiation && l.ending %>
	    			<td><%=	l.initiation.strftime("%d-%m-%Y") %></td>
	    			<td><%= l.ending.strftime("%d-%m-%Y")   %></td>
	    		<% else%>
	    			<td colspan='2'>Tarea Recurrente</td>

	    		<%end%>
	    		<td><%=l.indicator_description%></td>
	    		<td style="text-align: center;";>
	    			<%= h %>
					 / <%= l.indicator  %>
				</td>
				<%	if l.indicator<=h %>
						<td> Terminado </td>
				   <%else 
				   		if l.initiation && l.ending 
				   			if DateTime.now.to_date > l.ending %>
				   				<td> Atrasado </td>
				   		  <%else%>
				   		  		<td> En Ejecucion </td>

				   		  <%end%>

				   		<%else%>
				   			<td> En Ejecucion </td>
				   		 <% end %>

				   <%end%>
				<% if l.project%>
					<td> <%= l.project.name  %> </td>
					<td></td>	
				<%end%>
				<% if l.area_aim%>
					<td> <%= l.area_aim.name  %> </td>
					<% if l.area_aim.area %>
						<td> <%= l.area_aim.area.name %> </td>	
					<%end%>	
				<%end%>
				

				
				<td><%= link_to "Ver Tarea Completa",labor_path(l.id) %></td>
			</tr>
		
		
	<% end %>
	</tbody>
</table>


	
</div>


<script type="text/javascript">
$(function(){
  $("#myTable1").tablesorter();
  $("#myTable2").tablesorter();
  $("#myTable3").tablesorter();
});
</script>
