<div style="width:60%; margin:0 auto;">
<h1><%= name %></h1>
<%= form_for(@p) do |f| %>
	<% @p.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		<%= f.text_field:name, placeholder: "Nombre Proyecto", class:"form-control"%>
	</div>
	<div class="field">
		<%= f.text_area:description, placeholder: "Description Proyecto", class:"form-control"%>
	</div>
	<div class="field">
			Indicador
			<%= f.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
	<div class="field">
		Observacion 
		<%= f.text_area:observation, placeholder: "Observacion", class:"form-control"%>
	</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#project_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#project_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= f.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= f.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= f.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>
	<div class="field">
		<%= f.submit "Guardar", class:"btn large-padding be-red" %>
	</div>


<%end%>
</div>