<div style="width:80%; margin:0 auto;">
<h1>Proyectos</h1>
<table align="center" id="myTable" style="width:100%;">
	<thead>
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th>Inicio</th>
		<th>Fin</th>
		<th>Responsable</th>
		<th>Indicador</th>
	</tr>
</thead>
<tbody>
<% @p.each do |pro|  %>
	<tr>
		<td><b><%= link_to pro.name,pro %></b></td>
		<td><%=pro.description %></td>
		<% if pro.initiation && pro.ending %>
			<td><%=pro.initiation.strftime("%m-%d-%Y")  %></td>
			<td><%=pro.ending.strftime("%m-%d-%Y")  %></td>
		<% else	%>
			<td colspan='2'>Proyecto Recurrente</td>
		<% end %>
		<td>
			<%= if pro.user
						pro.user.username
				end
			%>
		</td>
		<td>
			<%=
				
				if pro.labor_shifts.present?
					pro.labor_shifts.last.advance
					
				else
					0
				end
			 %> / <%=pro.indicator %> 
		</td>


		<td><%= link_to "Editar",edit_project_path(pro.id) %></td>
	</tr>
	
<%end%>
</tbody>
</table>


<br>
<% if current_user.type_user_id==3 || current_user.type_user_id==1%>
	<div class="field" align='right'>
<button id="abrir">Crear Projecto</button>
</div>
<% end%>


</div>
<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
 <script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
});
$("#abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
});
});
</script>

<div id="dialog" title="Crear Projecto">
<%= form_for(@pr) do |f| %>
	<% @pr.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		<%= f.text_field:name, placeholder: "Nombre Proyecto", class:"form-control"%>
	</div>
	<div class="field">
		<%= f.text_area:description, placeholder: "Description Proyecto", class:"form-control"%>
	</div>
	<div class="field">
			Indicador
			<%= f.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#project_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#project_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= f.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= f.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= f.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>
	<div class="field">
		<%= f.submit "Guardar", class:"btn large-padding be-red" %>
	</div>


<%end%>
</div>
