<div style="width:60%; margin:0 auto;">
<h1> <%= @p.name %> </h1>
<div class="well proyectos">
	<% a=LaborShift.where("project_id=#{@p.id}").last 
		e=LaborShift.where("project_id=#{@p.id}")
	 
	%>  

		<table class align="center" style="width:98%; ">
			<tr>
				<td class="titulos">Nombre<td><%= @p.name %></td>
			</tr>
			<tr>
				<td class="titulos">Descripcio</td><td><%= @p.description %></td>
			</tr>
			
			<tr>
				<td class="titulos">Inicio</td><td><%= @p.initiation %></td>
			</tr>
			<tr>
				<td class="titulos">Fin</td><td><%= @p.ending  %></td>
			</tr>
			<tr>
				<td class="titulos">Responsable</td><td>
				<%= if @p.user
						@p.user.username
					end
				
				%></td>
			</tr>
		</table>
		<br>
		<table align="center"  class align="center" style="width:98%; ">
			<tr>
				<td class="titulos">Indicador</td><td><%= 
				if a
					a.advance 
				else
					0
				end
				
				%>/<%= @p.indicator %></td>
			</tr>
			<tr>
				<td class="titulos">Observacion</td>
				<td><%= @p.observation  %></td>
			</tr>
		</table>
		<div class="field" align='right'>
			<%= link_to "Editar",edit_project_path(@p.id) %>
		</div>
</div>
<br>
<div class="wellc">
		<%= form_for(@shift) do |s| %>
			<% @shift.errors.full_messages.each do |message|%>
				<div class="be-alert white">*<%= message %></div>
			<%end%>
			<div class="field">
				Avance
				<%= s.number_field:advance,min:1, placeholder: "Ingrese Cantidad", :class => 'text_field', :step => 'any',class:"form-control" %>
			</div>
			<div class="field">
				Observacion
				<%= s.text_field:description, placeholder: "Ingrese Observacion", class:"form-control"%>
			</div>
			
			<%= s.hidden_field:project_id, :value =>@p.id %>
			
			<div class="field" align='right'>
				<%= s.submit "Guardar", class:"btn large-padding" %>
			</div>
		<%end%>
</div>

<h2>TAREAS</h2>

<table id="myTable" style="width:100%" class="proyectos" >
	<thead>
	<tr>
		<th class="proyectos">Nombre</th>
		<th class="proyectos" style="width:40%;">Descripcion</th>
		<th class="proyectos">Inicio</th>
		<th class="proyectos">Fin</th>
		<th class="proyectos">Indicador</th>
		<th class="proyectos">Usuario</th>
		<th class="proyectos">Visualizacion</th>
	</tr>
</thead>
<tbody>
<% @labors.each do |l|  %>
	
		<tr>
			<td><%= link_to l.name,l %></td>
			<td><%=l.description %></td>
		<% r=0
			if l.initiation && l.ending %>
			<td><%=l.initiation.strftime("%m-%d-%Y")  %></td><td> <%=l.ending.strftime("%m-%d-%Y")  %> </td>
		<% 
			else
				r=1
				%>
				<td colspan='2'>Tarea recurrente</td>
		  <% end %>
		<td> 
			<%=
				#pasar esto a una nuvea funcion de tareas recurrentes 
				if l.labor_shifts.present?
					if r=1
						if Date.parse(l.labor_shifts.last.created_at.strftime("%y-%m-%d")).cweek<DateTime.now.to_date.cweek
							0
						else
							l.labor_shifts.last.advance
						end
					else
						l.labor_shifts.last.advance
					end
										
					
				else
					0
				end
			%>
			/ <%=l.indicator%></td>
			<td>
				<%= if l.user
						l.user.username
				end
			%>
			</td>
			<td>
				<%= l.state.name  %>
			</td>	
		<td><%= link_to "Editar",edit_labor_path(l.id) %></td>
<%end%>
</tbody>
</table>
<div class="field" align='right'>
<button id="abrir">Crear Tarea</button>
</div>


<h2> HISTORIAL DE AVANCES </h2>
	
<table id="myTable" style="width:100%" class="proyectos" >
		<tr>
			<th class="proyectos">Avance</th>
			<th class="proyectos">Observaciones</th>
			<th class="proyectos">Usuario</th>
			<th class="proyectos">fecha</th>
		</tr>
	<% e.each do |ava|  %>
		<tr>
			<td><%= ava.advance %></td>
			<td><%=ava.description%></td>
			<td><%=
				if ava.user
					ava.user.username
				end %>
			</td>
			<td><%=ava.created_at.strftime("%m-%d-%Y")%></td>
			 
		</tr>
	<%end%>
	</table>  


<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
<br>


 <script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
}).prev(".ui-dialog-titlebar").css("background","#F4CCCC");
$("#abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
});
});
</script>

<div id="dialog" title="Crear Nueva Tarea">
<%= form_for(@labor) do |l| %>
	<% @labor.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Nombre
			<%= l.text_field:name, placeholder: "Ingrese Valor para Nombre", class:"form-control"%>
		</div>
		<div class="field">
			Descripcion
			<%= l.text_area:description, placeholder: "Description Tarea", class:"form-control"%>
		</div>
		<div class="field">
			Titulo de Indicador
			<%= l.text_field:indicator_description, placeholder: "Descripcion de Indicador", class:"form-control"%>
		</div>
		<div class="field">
			Valor de Indicador
			<%= l.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#labor_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#labor_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= l.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= l.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= l.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>	
		<%= l.hidden_field:project_id, :value => @p.id %>
				
		<div class="field" align='right'>
			<%= l.submit "Guardar", class:"btn large-padding " %>
		</div>
	<%end%>
</div>

</div>



