<div style="width:60%; margin:0 auto;">
<h1> <%= @p.name %> </h1>
<div>
	<% a=LaborShift.where("project_id=#{@p.id}").last 
		e=LaborShift.where("project_id=#{@p.id}")
	 
	%>  
		<table align="center" style="font-size:150%;" >
			
			<tr>
				<td><b>Descripcion</b></td><td><%= @p.description %></td>
			</tr>
			<tr>
				<td><b>Indicador</b></td><td><%= 
				if a
					a.advance 
				else
					0
				end
				
				%>/<%= @p.indicator %></td>
			</tr>
			<tr>
				<td><b>Inicio</b></td><td><%= @p.initiation %></td>
			</tr>
			<tr>
				<td><b>Fin</b></td><td><%= @p.ending  %></td>
			</tr>
			<tr>
				<td><b>Usuario Asignado</b></td><td>
				<%= if @p.user
						@p.user.username
					end
				
				%></td>
			</tr>
		</table>
	</div>
<div class="field" align='right'>
<%= link_to "Agregar Avance",new_labor_shift_path(:project_id => @p.id,:name => @p.name),class:"btn large-padding be-red"%>
</div>

<h2> HISTORIAL DE AVANCES </h2>
	
	<table style="width:100%;">
		<tr>
			<th>Avance</th>
			<th>Observaciones</th>
			<th>Usuario</th>
			<th>fecha</th>
		</tr>
	<% e.each do |ava|  %>
		<tr>
			<td><%= ava.advance %></td>
			<td><%=ava.description%></td>
			<td><%=
				if ava.user
					ava.user.username
				end %>
			</td>
			<td><%=ava.created_at.strftime("%m-%d-%Y")%></td>
			 
		</tr>
	<%end%>
	</table>  

<h2>TAREAS</h2>



<table id="myTable" style="width:100%;" >
	<thead>
	<tr>
		<th>Nombre</th>
		<th style="width:40%;">Descripcion</th>
		<th>Inicio</th>
		<th>Fin</th>
		<th>Indicador</th>
		<th>Usuario</th>
	</tr>
</thead>
<tbody>
<% @labors.each do |l|  %>
	
		<tr>
			<td><%= link_to l.name,l %></td>
			<td><%=l.description %></td>
		<% if l.initiation && l.ending %>
			<td><%=l.initiation.strftime("%m-%d-%Y")  %></td><td> <%=l.ending.strftime("%m-%d-%Y")  %> </td>
		<% 
			else
				%>
				<th colspan='2'>Tarea recurrente</th>
		  <% end %>
		<td> 
			<%=
				if l.labor_shifts.present?
					l.labor_shifts.last.advance
					
				else
					0
				end
			%>
			/ <%=l.indicator%></td>
			<td>
				<%= if l.user
						l.user.username
				end
			%>
			</td>	
		<td><%= link_to "Editar",edit_labor_path(l.id) %></td>
<%end%>
</tbody>
</table>
<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
<br>


 <script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
});
$("#abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
});
});
</script>
<div class="field" align='right'>
<button id="abrir">Crear Tarea</button>
</div>

<div id="dialog" title="Crear Nueva Tarea">
<%= form_for(@labor) do |l| %>
	<% @labor.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Nombre
			<%= l.text_field:name, placeholder: "Ingrese Valor para Nombre", class:"form-control"%>
		</div>
		<div class="field">
			Descripcion
			<%= l.text_area:description, placeholder: "Description Tarea", class:"form-control"%>
		</div>
		<div class="field">
			Titulo de Indicador
			<%= l.text_field:indicator_description, placeholder: "Descripcion de Indicador", class:"form-control"%>
		</div>
		<div class="field">
			Valor de Indicador
			<%= l.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#labor_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#labor_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= l.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= l.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= l.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>	
		<%= l.hidden_field:project_id, :value => @p.id %>
				
		<div class="field" align='right'>
			<%= l.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>

</div>



