<div style="width:60%; margin:0 auto;">
	<h1> <%= @area.name %> </h1>
	    
<h2>GRUPO DE TRABAJO</h2>
	       
<div class="listado caja" style="width:100%; text-align: left;">
	
	<% 	gru = AreaGroup.where("area_id=#{@area.id}").select('name')
		gru.each do |g| %>

			<%= g.name %> <br>
	<%end%>
</div>

<div>
	<%= form_for(@group) do |g| %>
		<% @group.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Agregar Persona
			<%= g.text_field:name, placeholder: "Ingrese Nombre de Colaborador", class:"form-control"%>
		</div>
		<%= g.hidden_field:area_id, :value => @area.id %>
				
		<div class="field" align='right'>
			<%= g.submit "Ingresar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
<h2>METAS</h2>
<table style="font-size:100%; width:100% ">
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Inicio</th>
			<th>Fin</th>
			<th>Responsable</th>
			<th>Indicador</th>
		</tr>

<%@aims.each do |m| %>
<tr>
	<td><b><%= link_to m.name,m %></b></td>
	<td><p class="lisp" style="font-size:70%;" ><%=m.description %></p></td>
	<% if m.initiation && m.ending %>
		<td><p class="lisp"style="font-size:100%;" ><%=m.initiation.strftime("%m-%d-%Y")  %> </p></td>
		<td><p class="lisp"style="font-size:100%;" ><%=m.ending.strftime("%m-%d-%Y")  %> </p></td>
		<% 
			else
				%>
				<td colspan='2' ><p class="lisp" style="font-size:100%;" >Meta Recurrente</p></td>
		  <% end %>

		<td>
			<%= if m.user
					m.user.username
				end
			%>
		</td>
		<td>
			<%=
				
				if m.labor_shifts.present?
					m.labor_shifts.last.advance
					
				else
					0
				end
			 %> / <%=m.indicator %>
		</td>

		<th><%= link_to "Editar",edit_area_aim_path(m),:class => "editar" %> </th>
</tr>
<%end%>
</table>

<script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
});
$("#abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
});
});
</script>
<div class="field" align='right'>
<button id="abrir">Agregar Meta</button>
</div>

<div id="dialog" title="Crear Nueva Meta">
<%= form_for(@aim) do |a| %>
	<% @aim.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Nombre
			<%= a.text_field:name, placeholder: "Ingrese Nombre de Meta", class:"form-control"%>
		</div>
		<div class="field">
			Descripcion
			<%= a.text_area:description, placeholder: "Ingrese Description ", class:"form-control"%>
		</div>
		<%= a.hidden_field:area_id, :value => @area.id %>
		<div class="field">
			Indicador
			<%= a.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#area_aim_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#area_aim_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= a.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= a.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= a.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>
				
		<div class="field" align='right'>
			<%= a.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
</div>

