<div style="width:60%; margin:0 auto;">
<h1><%= name %></h1>
<%= form_for(@tc) do |f| %>
	<% @tc.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		Nombre
		<%= f.text_field:name, placeholder: "Ingrese Valor para Nombre", class:"form-control"%>
	</div>
	<div class="field">
		Descripcion
		<%= f.text_area:description, placeholder: "Ingrese Descripcion", class:"form-control"%>
	</div>
	<div class="field">
		Estado
		<%= f.collection_select :state_id, State.all, :id,:name, {prompt: 'Seleccione Estado'}, class:"form-control"%>
	</div>
	<div class="field" align='right'>
		<%= f.submit "Guardar", class:"btn large-padding be-red" %>
	</div>

<%end%>
</div>