<div style="width:60%; margin:0 auto;">
<h1>Editar Meta</h1>
<%= form_for(@aim) do |a| %>
	<% @aim.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Nombre
			<%= a.text_field:name, placeholder: "Ingrese Nombre de Meta", class:"form-control"%>
		</div>
		<div class="field">
			Descripcion
			<%= a.text_area:description, placeholder: "Ingrese Description de Meta", class:"form-control"%>
		</div>
		<div class="field" align='right'>
			<%= a.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
<%end%>
</div>