<div style="width:60%; margin:0 auto;">
<h1> <%= @aim.name %> </h1>
<div class="well metas">

	<% a=LaborShift.where("area_aim_id=#{@aim.id}").last 
		e=LaborShift.where("area_aim_id=#{@aim.id}")
	 
	%>  
		<table class align="center" style="width:98%; ">
			<tr>
				<td class="titulos">Nombre</td><td><%= @aim.name %></td>
			</tr>
			<tr>
				<td class="titulos">Descripcion</td><td><%= @aim.description %></td>
			</tr>
			<tr>
				<td class="titulos">Inicio</td><td><%= @aim.initiation %></td>
			</tr>
			<tr>
				<td class="titulos">Fin</td><td><%= @aim.ending  %></td>
			</tr>
			<tr>
				<td class="titulos">Responsable</td><td>
				<%= if @aim.user
						@aim.user.username
					end
				
				%></td>
			</tr>
		</table>
		<br>
		<table class align="center" style="width:98%; ">
			<tr>
				<td class="titulos">Indicador</td><td><%= 
				if a
					a.advance 
				else
					0
				end
				
				%>/<%= @aim.indicator %></td>
			</tr>
			<tr>
				<td class="titulos">Observacion</td>
				<td><%= @aim.observation  %></td>
			</tr>
		</table>
		<div class="field" align='right'>
			<td><%= link_to "Editar",edit_area_aim_path(@aim.id) %> </td>
		</div>
	</div>
<br>
<div class="wellc">
<h1><%= @name %></h1>
<%= form_for(@shift) do |s| %>
	<% @shift.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		Avance
		<%= s.number_field:advance,min:1, placeholder: "Ingrese Cantidad", :class => 'text_field', :step => 'any',class:"form-control" %>
	</div>
	<div class="field">
		Observacion
		<%= s.text_field:description, placeholder: "Ingrese 	Observacion", class:"form-control"%>
	</div>
	
	<%= s.hidden_field:area_aim_id, :value =>@aim.id %>
	
	<div class="field" align='right'>
		<%= s.submit "Guardar", class:"btn large-padding" %>
	</div>
<%end%>
</div>
<h2>TAREAS</h2>
	        
<table id="myTable" style="width:100%" class="metas" >
	<thead>
	<tr>
		<th class="metas">Nombre</th>
		<th class="metas" class="metas" style="width:40%;">Descripcion</th>
		<th class="metas" class="metas">Inicio</th>
		<th class="metas" class="metas">Fin</th>
		<th class="metas" class="metas">Indicador</th>
		<th class="metas" class="metas">Responsable</th>
		<th class="metas" class="metas">Estado</th>
		<th class="metas">Visualizacion</th>
	</tr>
</thead>
<tbody>
<% @labors.each do |l|  %>
	
		<tr>
			<td><%= link_to l.name,l %></td>
			<td><%=l.description %></td>
		<% if l.initiation && l.ending %>
			<td><%=l.initiation.strftime("%m-%d-%Y")  %></td><td> <%=l.ending.strftime("%m-%d-%Y")  %> </td>
		<% 
			else
				r=0
				%>
				<td colspan='2'>Tarea Recurrente</td>
		  <% end %>
		<td>
			<%
			y=0
			if l.labor_shifts.present?
					if r=1
		    			if Date.parse(l.labor_shifts.last.created_at.strftime("%y-%m-%d")).cweek<DateTime.now.to_date.cweek
		    						%>
		    						<%="0" %>
		    		  <%else%>
		    			<%= l.labor_shifts.last.advance %>
		    		  <%end
		    		else%>
		    			<%= 
		    				y=l.labor_shifts.last.advance
		    			%>
		    		<%end
		   	else %>
		   		<%= 0 %>
		    <%end %>
				/ <%=l.indicator%>
		
		</td>
		<td><%= if l.user
						l.user.username
					end
				
				%></td>	

		<td><%= 
				if l.ending && l.initiation
					if l.indicator<=y 
					  		"Done"
						elsif DateTime.now.to_date > l.ending
								"Overdue"
						elsif DateTime.now.to_date < l.initiation
								"Not Initiated"
							else
								"Active"
						end
				else
					"Active"
				end%>
		</td>
		<td>
			<%= l.state.name %>
		</td>
<%end%>
</tbody>
</table>
<div class="field" align='right'>
<button id="abrir">Crear Tarea</button>
</div>

<h2> HISTORIAL DE AVANCES </h2>
	
	<table  style="width:100%" class="metas" >
		<tr>
			<th class="metas">Avance</th>
			<th class="metas">Observaciones</th>
			<th class="metas">Usuario</th>
			<th class="metas">fecha</th>
		</tr>
	<% e.each do |ava|  %>
		<tr>
			<td><%= ava.advance %></td>
			<td><%=ava.description%></td>
			<td><%=
				if ava.user
					ava.user.username
				end %>
			</td>
			<td><%=ava.created_at.strftime("%m-%d-%Y")%></td>
			 
		</tr>
	<%end%>
	</table>  



<br>

 


<script>
$(function () {
$("#dialog").dialog({
autoOpen: false,
modal: true
});
$("#abrir")
.button()
.click(function () {
$("#dialog").dialog("option", "width", 400);
$("#dialog").dialog("open");
});
});
</script>


<div id="dialog" title="Crear Nueva Tarea">
<%= form_for(@labor) do |l| %>
	<% @labor.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
		<%end%>
		<div class="field">
			Nombre
			<%= l.text_field:name, placeholder: "Ingrese Valor para Nombre", class:"form-control"%>
		</div>
		<div class="field">
			Descripcion
			<%= l.text_area:description, placeholder: "Description Tarea", class:"form-control"%>
		</div>
		<div class="field">
			Titulo de Indicador
			<%= l.text_field:indicator_description, placeholder: "Descripcion de Indicador", class:"form-control"%>
		</div>
		<div class="field">
			Valor de Indicador
			<%= l.number_field:indicator,min:1, placeholder: "Cantidad de Indicador", :class => 'text_field', :step => 'any',class:"form-control" %>
		</div>
		<div class="field">
			Fecha Inicio
			<script type="text/javascript">$(function() {
			  $('#labor_initiation').datepicker({dateFormat: 'yy-mm-dd'});
			  $('#labor_ending').datepicker({dateFormat: 'yy-mm-dd'});
			});
			</script>
			<%= l.text_field:initiation, placeholder: "Seleccione Fecha de Inicio", class:"form-control"%>
		</div>
		<div class="field">
			Fecha Finalizacion
			<%= l.text_field:ending, placeholder: "Seleccione Fecha de Finalizacion", class:"form-control"%>
		</div>
		<div class="field">
			Cliente Asociado
		<%= l.collection_select :client_id, Client.all, :id,:name, {prompt: 'Seleccione Cliente'}, class:"form-control" %>
		</div>
		<div class="field">
		    Usuario Asignado
		    <%= l.collection_select :user_id, User.all, :id,:username, {prompt: 'Seleccione Usuario'}, class:"form-control" %>
		  </div>
		
		<%= l.hidden_field:area_aim_id, :value => @aim.id %>
				
		<div class="field" align='right'>
			<%= l.submit "Guardar", class:"btn large-padding " %>
		</div>
	<%end%>
</div>
</div>
<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
