<div style="width:60%; margin:0 auto; ">
    <h1> <%= @labor.name %> </h1>
	<% a=LaborShift.where("labor_id=#{@labor.id}").last 
		e=LaborShift.where("labor_id=#{@labor.id}")
	 
	%>
	<div class="well tareas">
		<table class align="center" style="width:98%; ">
			<tr>
				<td class="titulos">Nombre</td><td><%= @labor.name %></td>
			</tr>
			<tr>
				<td class="titulos">Descripcion</td><td><%= @labor.description %></td>
			</tr>
			
			<tr>
				<td class="titulos">Inicio</td><td><%= @labor.initiation %></td>
			</tr>
			<tr>
				<td class="titulos">Fin</td><td><%= @labor.ending  %></td>
			</tr>
			<tr>
				<td class="titulos">Asignado a </td><td><%=@asignado%></td>
			</tr>
			<tr>
				<td class="titulos">Cliente</td>
				<td>
					<%if @labor.client %>
						<%= @labor.client.name %>
					<%end%>

				</td>
			</tr>

		</table>
		
		<br>
		<table align="center"  class align="center" style="width:98%; ">
		<tr>
				<td class="titulos">Descripcion Indicador</td><td><%= @labor.indicator_description %></td>
			</tr>
			<tr>
				<td class="titulos">Indicador</td><td><%= 
				if a
					a.advance 
				else
					0
				end
				
				%>/<%= @labor.indicator %></td>
			</tr></table>
		<div class="field" align='right'>
			<%= link_to "Editar",edit_labor_path(@labor.id) %>
		</div>
	</div>
	
<h2> HISTORIAL DE AVANCES </h2>
	
	<table style="width:100%" class="tareas">
		<tr >
			<th class="tareas">Avance</th>
			<th class="tareas">Observaciones</th>
			<th class="tareas">Usuario</th>
			<th class="tareas">fecha</th>
		</tr>
	<% e.each do |ava|  %>
		<tr>
			<td><%= ava.advance %></td>
			<td><%=ava.description%></td>
			<% if ava.user %>
				<td><%=ava.user.username%></td>
			<% else %>
				<td></td>
			<%end %>
			
			<td><%=ava.created_at.strftime("%m-%d-%Y")%></td>
			 
		</tr>
	<%end%>
	</table>  

	<br>
<h2> HISTORIAL DE CAMBIOS </h2>

<table style="width:100%" class="tareas">
	<tr>
		<th class="tareas" >Fecha</th>
		<th class="tareas">Atributo</th>
		<th class="tareas">Anterior</th>
		<th class="tareas">Nuevo</th>
	</tr>
	<% @changes.each do |c|  %>
		<tr>
			<td><%=c.created_at.strftime("%m-%d-%Y")%></td>
			<td><%= c.property %></td>
			<td><%=c.previus %></td>
			<td><%=c.mint %></td>
		</tr>
	<%end%>
</table>
	<br>



<h2>COMENTARIOS</h2>
<div class="wellc">
	<%= form_for(@comment) do |f| %>
		<div class="field">
		Crear Nuevo Comentario
		<%= f.text_area:description, placeholder: "Ingrese Comentario", class:"form-control"%>
		</div>
		<%= f.hidden_field:labor_id, :value => @labor.id %>
		<%= f.hidden_field:kind, :value => "2" %>
		<div class="field" align='right'>

			<%= f.submit "Guardar", class:"btn large-padding " %>
		</div>
	<%end%>
	<br>
	<table style="width:100%" class="tareas">
		<tr>
			<th class="tareas" style="width:10%">Fecha</th>
			<th class="tareas">Comentario</th>
			<th class="tareas" style="width:15%">Usuario</th>
		</tr>
	<% @comnents.each do |o|  
			u=""
			if o.user
				u=o.user.username
			end
			%>
		<tr>
			<td><%= o.created_at.strftime("%d-%m-%y ")  %></td>
			<td><%=o.description %></td>
			<td><%= u %></td>
		</tr>		
	<%end%>
	</table>
</div>


	
</div>

