<div style="width:60%; margin:0 auto;">
	
	           <h1> <%= @labor.name %> </h1>
	<% a=LaborShift.where("labor_id=#{@labor.id}").last 
		e=LaborShift.where("labor_id=#{@labor.id}")
	 
	%>  
	<div>
		<table align="center" style="font-size:150%;" >
			<tr>
				<td><b>Descripcion</b></td><td><%= @labor.description %></td>
			</tr>
			<tr>
				<td><b>Descripcion Indicador</b></td><td><%= @labor.indicator_description %></td>
			</tr>
			<tr>
				<td><b>Indicador</b></td><td><%= 
				if a
					a.advance 
				else
					0
				end
				
				%>/<%= @labor.indicator %></td>
			</tr>
			<tr>
				<td><b>Inicio</b></td><td><%= @labor.initiation %></td>
			</tr>
			<tr>
				<td><b>Fin</b></td><td><%= @labor.ending  %></td>
			</tr>
		</table>
	</div>
	<br>
<h2> HISTORIAL DE AVANCES </h2>
	<div class="listadodos caja">
	<table style="font-size:55%; width:100%">
		<tr>
			<th>Avance</th>
			<th>Observaciones</th>
			<th>Usuario</th>
			<th>fecha</th>
		</tr>
	<% e.each do |ava|  %>
		<tr>
			<td><%= ava.advance %></td>
			<td><%=ava.description%></td>
			<td></td>
			<td><%=ava.created_at.strftime("%m-%d-%Y")%></td>
			 
		</tr>
	<%end%>
	</table>  
</div>
	<br>
<h2> HISTORIAL DE CAMBIOS </h2>

<div class="listado caja">
	<% @changes.each do |c|  %>
		<p style="font-size:55%; ">
			<b><%=c.created_at.strftime("%m-%d-%Y")%></b>: El atributo <b><%= c.property %></b> con valor:<b> <%=c.previus %></b> se cambio por <b><%=c.mint %></b></p>
	<%end%>
</div>
	<br>



<h2>COMENTARIOS</h2>


<div>
<div>
	<%= form_for(@comment) do |f| %>
		<div class="field">
		Crear Nuevo Comentario
		<%= f.text_area:description, placeholder: "Ingrese Comentario", class:"form-control"%>
		</div>
		<%= f.hidden_field:labor_id, :value => @labor.id %>
		<%= f.hidden_field:kind, :value => "2" %>
		<div class="field" align='right'>

			<%= f.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
<div>
	<% @comnents.each do |o|  %>		
	<div class="listado caja">
		<%=o.description %><br>
		<p class="lisp" align="right"><%= o.created_at.strftime("%y-%m-%d ")  %></p>
	</div><br>
<%end%>
</div>

</div>

