<div style="width:60%; margin:0 auto;">
	
	           <h1> <%= @labor.name %> </h1>
	        
	<div>
		<table align="center" style="font-size:150%;" >
			<tr>
				<td><b>Descripcion</b></td><td><%= @labor.description %></td>
			</tr>
			<tr>
				<td><b>Descripcion Indicador</b></td><td><%= @labor.indicator_description %></td>
			</tr>
			<tr>
				<td><b>Indicador</b></td><td><%= @labor.indicator %></td>
			</tr>
			<tr>
				<td><b>Inicio</b></td><td><%= @labor.initiation %></td>
			</tr>
			<tr>
				<td><b>Fin</b></td><td><%= @labor.ending  %></td>
			</tr>
		</table>
	</div>
<div>
	<% @observations.each do |o|  %>		
	<div class="listado caja">
		<%=o.description %><br>
	</div><br>
<%end%>
</div>
	<div class="row center-xs">
	    <div class="col-xs-6">
	        <div class="box">
	           <h2> Historial de Cambios </h2>
	        </div>
	    </div>
	</div>

	<% @changes.each do |c|  %>
	<div class="listado caja">
		<table>
			<tr>
				<th>Campo</th>
				<th>Dato Viejo</th>
				<th>Dato Nuevo</th>
				<th>Fecha</th>
			</tr>
			<tr>
				<td><%= c.property %></td>
				<td><%=c.previus %></td>
				<td><%=c.mint %></td>
				<td><%=c.created_at.strftime("%m-%d-%Y")  %></td>
			</tr>
		</table>
			
	</div>
	<br>
	<%end%>

	<div class="row center-xs">
	    <div class="col-xs-6">
	        <div class="box">
	          <h2>Observaciones</h2>

	        </div>
	    </div>
	</div>

<div>
<p>esto solo lo creara el usuario registrado</p>
<div>
	<%= form_for(@comment) do |f| %>

		<div class="field">
		Crear Nueva Observacion
		<%= f.text_area:description, placeholder: "Ingrese Observacion", class:"form-control"%>
		</div>
		<%= f.hidden_field:labor_id, :value => @labor.id %>
		<%= f.hidden_field:kind, :value => "1" %>
		<div class="field" align='right'>
			<%= f.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>


<div class="row center-xs">
	    <div class="col-xs-6">
	        <div class="box">
	          <h2>Comentarios</h2>

	        </div>
	    </div>
	</div>

<div>
<div>
	<%= form_for(@comment) do |f| %>
		<div class="field">
		Crear Nuevo Comentario
		<%= f.text_area:description, placeholder: "Ingrese Comentario", class:"form-control"%>
		</div>
		<%= f.hidden_field:labor_id, :value => @labor.id %>
		<%= f.hidden_field:kind, :value => "2" %>
		<div class="field" align='right'>

			<%= f.submit "Guardar", class:"btn large-padding be-red" %>
		</div>
	<%end%>
</div>
<div>
	<% @comnents.each do |o|  %>		
	<div class="listado caja">
		<%=o.description %><br>
	</div><br>
<%end%>
</div>

</div>

